@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --yellow: #a1a1a1;
  --black: #222;
  --white: #fff;
  --light-color: #222;
  --light-bg: #eee;
  --light-color-2: #fff;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn:hover {
  background: var(--yellow);
  color: var(--black);
}

@-webkit-keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  padding: 0.8rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1000;
  background: var(--white);
}

.header .logo {
  font-size: 22px;
  color: var(--black);
  text-transform: capitalize;
}
.header .logo img {
  width: 80px;
}

.header .logo span {
  color: var(--yellow);
}

.header .navbar a {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: var(--yellow);
}

.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-left: 0.3rem;
  /* display: none; */
}

.header .icons div:hover {
  background: var(--black);
  color: var(--white);
}

.header .icons .fa-search,
.fa-user {
  display: none;
}

.header #menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 70rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  -webkit-animation: fadeIn 0.2s linear;
  animation: fadeIn 0.2s linear;
}

.header .search-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .search-form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
}

.header .search-form label {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin: 0 1rem;
}

.header .search-form label:hover {
  color: var(--yellow);
}

.header .login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 40rem;
  background: var(--white);
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  -webkit-animation: fadeIn 0.2s linear;
  animation: fadeIn 0.2s linear;
  display: none;
}

.header .login-form.active {
  display: block;
}

.header .login-form h3 {
  font-size: 2.5rem;
  color: var(--black);
  text-transform: capitalize;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.header .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  font-size: 1.6rem;
  color: var(--light-color);
  margin: 0.7rem 0;
}

.header .login-form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.header .login-form .flex label {
  font-size: 1.5rem;
  color: var(--light-color);
  cursor: pointer;
}

.header .login-form .flex a {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-left: auto;
}

.header .login-form .flex a:hover {
  color: var(--yellow);
  text-decoration: underline;
}

.header .login-form .btn {
  width: 100%;
}

.header .login-form p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 1.5rem;
}

.header .login-form p a {
  color: var(--yellow);
}

.header .login-form p a:hover {
  text-decoration: underline;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: var(--white);
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}

.contact-info.active {
  -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  display: block;
}

.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 20px;
  color: var(--black);
}

.contact-info #close-contact-info:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.contact-info .info {
  padding: 2rem 0;
}

.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5rem;
}

.contact-info .info i:hover {
  background: var(--black);
  color: var(--white);
}

.contact-info .info h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.contact-info .info p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
}

.contact-info .share {
  padding-top: 2rem;
  border-top: var(--border);
  margin-top: 1rem;
}

.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  margin: 0 0.3rem;
}

.contact-info .share a:hover {
  background: var(--black);
  color: var(--white);
}

.home {
  padding: 0;
}

.home .slide {
  min-height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--white)),
    to(transparent)
  );
  background: linear-gradient(90deg, var(--white), transparent);
}

.home .slide .content {
  width: 50rem;
  position: relative;
}

.home .slide .content h3 {
  font-size: 6rem;
  color: var(--black);
  text-transform: capitalize;
  text-transform: uppercase;
}

.home .slide .content p {
  font-size: 1.4rem;
  color: var(--light-color-2);
  line-height: 2;
  padding: 1rem 0;
}

.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  background: var(--white);
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--yellow);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: var(--black);
}

.home .swiper-button-prev {
  right: 7rem;
}

/* icono de whatsapp */

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 25px;
  right: 18px;
  background: #10ad25;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #10ad25;
  background: #fff;
}

/* section video */

/* .about .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  .about .row .video {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 41rem;
    flex: 1 1 41rem;
  }
  
  .about .row .video video {
    width: 100%;
  }
  
  .about .row .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 41rem;
    flex: 1 1 41rem;
  }
  
  .about .row .content h3 {
    font-size: 3.5rem;
    color: var(--black);
    text-transform: capitalize;
  }
  
  .about .row .content p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
    padding: 1rem 0;
  }
  
  .about .box-container {
    margin-top: 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  
  .about .box-container .box {
    text-align: center;
    background: var(--light-bg);
    padding: 3rem 2rem;
  }
  
  .about .box-container .box h3 {
    font-size: 4rem;
    color: var(--black);
    text-transform: capitalize;
  }
  
  .about .box-container .box p {
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
    padding-top: 0.5rem;
  }
   */

.home--8 .box {
  /* min-height: 70vh; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.home--8 .box:nth-child(2) {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  padding: 4rem 0;
}

.home--8 .box .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.home--8 .box .image img {
  width: 100%;
}

.home--8 .box .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.home--8 .box .content h3 {
  font-size: 3rem;
  color: var(--black);
}

.home--8 .box .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

/* section about */

.cont-sup {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2.5em;
  color: #fff;
  background: var(--yellow);
  flex-wrap: wrap;
}

.cont-about {
  align-items: center;
  text-align: left;
  font-size: 18px;
  padding: 1%;
}

.title-about {
  font-size: 25px;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

/* section about */

.about .box-container {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.about .box-container .box {
  text-align: center;
  background: var(--light-bg);
  padding: 3rem 2rem;
}

.about .box-container .box h3 {
  font-size: 4rem;
  color: var(--black);
  text-transform: capitalize;
}

.about .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 0.5rem;
}

/* section footer */

.footer {
  background: #fff;
  border-top: 2px solid #a1a1a1;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box h3 i {
  color: var(--yellow);
}

.footer .box-container .box .links {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box .links i {
  color: var(--orange);
  padding-right: 0.5rem;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box p {
  line-height: 1.8;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: var(--black);
  margin-right: 0.2rem;
  background: #eee;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: var(--yellow);
  color: #fff;
}

.footer .box-container .box .email {
  width: 100%;
  margin: 0.7rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #eee;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}

.footer .box-container .box .payment-img {
  margin-top: 2rem;
  height: 3rem;
  display: block;
}

.footer .credit {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: var(--black);
  border-top: var(--border);
}

.footer .credit span {
  color: var(--yellow);
}

.copy {
  color: #fff;
  background: #a1a1a1;
  text-align: center;
  font-size: 15px;
  padding: 0.6%;
}

/* section de contacto */

.heading--03 {
  background: url(../images/heading-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
  font-size: 16px;
  height: 150px;
}

.heading--03 h3 {
  font-size: 3rem;
  color: #000;
}

.heading-03 p {
  font-size: 22px;
  color: #000;
  padding-top: 0.5rem;
}

.heading-03 p a {
  padding-right: 0.5rem;
  color: #000;
  font-size: 22px;
  text-decoration: none;
}

.heading-03 p a:hover {
  color: #000;
}

.link-pag {
  text-decoration: none;
  color: #000;
}

/* catalogo */

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  text-align: center;
  padding: 2rem;
  background: var(--yellow);
  border-radius: 0.5rem;
  /* background-image: url(../images/02.jpg); */
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-a {
  background-image: url(../images/Herreria-decorativa.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-b {
  background-image: url(../images/escaleras.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-c {
  background-image: url(../images/industria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-d {
  background-image: url(../images/muebles\ herreria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-e {
  background-image: url(../images/pasamanos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-i {
  background-image: url(../images/Pergolas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-f {
  background-image: url(../images/portones-herreria-diseno-casa-21.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-j {
  background-image: url(../images/bodega.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-k {
  background-image: url(../images/Puertas-de-Forja-en-Monterrey-BNA.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-l {
  background-image: url(../images/pasillo\ puerta.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-ñ {
  background-image: url(../images/asador.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-p {
  background-image: url(../images/puertas\ de\ acceso.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-u {
  background-image: url(../images/Puertas\ principal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .a-z {
  background-image: url(../images/logo-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .box-container .box img {
  height: 10rem;
  margin-bottom: 0.5rem;
}

.services .box-container .box h3 {
  padding: 1rem 0;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-top: 25%;
}

.services .box-container .box p {
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

/* section galleria */

.gallery .gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.gallery .gallery-container .box {
  height: 25rem;
  overflow: hidden;
}

.gallery .gallery-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery .gallery-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 3rem 2rem;
  }
  .header #menu-btn {
    display: inline-block;
  }

  .heading--03 {
    background: url(../images/heading-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
    font-size: 16px;
    height: 100px;
  }

  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--white);
    border-top: var(--border);
    border-bottom: var(--border);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 16px;
  }

  .header .logo {
    font-size: 18px;
    color: var(--black);
    text-transform: capitalize;
  }
}

@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
  }
  .header .login-form {
    width: 90%;
  }
  .home .slide {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading--02 {
    margin-bottom: 6%;
    font-size: 23px;
    border-left: 8px solid #a1a1a1;
    padding-left: 1%;
  }

  .footer {
    text-align: left;
  }

  .footer .box-container .box .payment-img {
    margin: 2rem auto;
  }
}
